<h2 *ngIf="data.type === DialogType.EditConfigurationAsDraft" mat-dialog-title>Edit as Draft</h2>
<h2 *ngIf="data.type === DialogType.EditDraft" mat-dialog-title>Edit Draft</h2>
<h2 *ngIf="data.type === DialogType.CreateNewDraft" mat-dialog-title>Create Draft</h2>

<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field class="half-width">
    <mat-chip-list #chipList aria-label="Labels">
      <mat-chip *ngFor="let label of labels" [selectable]="selectable"
                [removable]="removable" (removed)="remove(label)">
        {{label}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Labels"
             #newLabel
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             (input)="validateNewLabel(newLabel.value)">
    </mat-chip-list>
    <mat-hint *ngIf="labelIsDuplicated$ | async">
      Label with IP is <strong>duplicated</strong>. Почему-то не работает с mat-error
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="half-width">
    <mat-label>Label</mat-label>
    <input matInput placeholder="Label" formControlName="label">
    <mat-error *ngIf="formGroup.get('label').hasError('required')">
      Label is <strong>required</strong>
    </mat-error>
    <mat-hint *ngIf="formGroup.hasError('notUniqueLabelIpPair')">
      Label is <strong>not unique for IP</strong>. Почему-то не работает с mat-error
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="half-width">
    <mat-label>Annotation</mat-label>
    <textarea matInput placeholder="Annotation" formControlName="annotation"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Content</mat-label>
    <textarea matInput
              formControlName="content"
              placeholder="Content"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="20"></textarea>
    <mat-error *ngIf="formGroup.get('content').hasError('required')">
      Content is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <ngx-monaco-editor [options]="editorOptions" formControlName="code"></ngx-monaco-editor>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="saveAndUpload()">Save and Upload</button>
</mat-dialog-actions>
