<h2 mat-dialog-title>Edit as Draft</h2>

<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Annotation</mat-label>
    <input matInput placeholder="Draft Name">
  </mat-form-field>

  <mat-form-field class="example-full-width" >
    <mat-label>Annotation</mat-label>
    <textarea matInput placeholder="Annotation"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" >
    <mat-label>Content</mat-label>
    <textarea matInput placeholder="Content"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
